@charset "UTF-8";
/**
* Eric Meyer's Reset CSS v2.0
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, input, textarea {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, menu, nav, section, time {
  display: block;
}

body {
  line-height: 1;
  background: #02ff0a; /* Updated background color to black */
  font-family: 'f1-regular';
  font-size: 18px;
  font-style: normal;
  font-weight: normal;
  letter-spacing: 0;
  text-decoration: none;
  float: none;
  height: 70px;
  margin: 52px auto 0;
  min-height: 70px;
  position: relative;
  width: 952px;
}

a {
  color: #FFFFFF; /* Updated text color to white */
  text-decoration: none;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* meyerweb css reset end */

textarea:focus, input:focus {
  outline: 0;
}

input {
  border-width: 0;
}

em {
  font-style: italic;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0;
}

.group:before,
.group:after {
  content: " ";
  display: table;
}

.group:after {
  clear: both;
}

.group {
  zoom: 1; /* ie 6/7 */
}

embed,
img,
object,
video {
  max-width: 100%;
}
sup {
  font-size: 58.3%;
  vertical-align: text-top;
}
sub {
  font-size: 58.3%;
  vertical-align: text-bottom;
}
.no-space-between-inline-blocks {
  *letter-spacing: normal; /*reset IE < 8*/
  letter-spacing: -0.31em; /*webkit*/
  word-spacing: -0.43em; /*IE < 8 && gecko*/
}
/*restore spacing on inner elements*/
.no-space-between-inline-blocks > * {
  letter-spacing: normal;
  word-spacing: normal;
}
.displace {
  left: -5000px;
  position: absolute;
}
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*,
*:after,
*:before {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}
html {
  font-size: 16px;
}
body {
  color: #002d5f;
  font-family: Formula1-Display, serif;
  font-size: 18px;
  font-style: normal;
  font-weight: normal;
  letter-spacing: 0;
  text-decoration: none;
}
body {
  float: none;
  height: auto;
  margin: 0 auto;
  position: relative;
  width: 886px;
}
.announcement {
  position: relative;
}
.heading-holder {
  float: left;
  min-height: 70px;
  padding: 8px 0 4px;
  position: relative;
  width: 237px;
  background: #002d5f;
}
.fia {
  float: left;
  margin: 4px 15px 0 6px;
}
.text {
  color: #ffffff;
  font-size: 25.34122px;
  font-weight: bold;
  line-height: 28px;
}
.body-holder {
  float: left;
  min-height: 70px;
  padding: 16px 4px 17px 14px;
  width: 649px;
  -webkit-border-radius: 0 0 9px;
  -moz-border-radius: 0 0 9px;
  border-radius: 0 0 9px;
  background: #ededed;
  font-weight: bold;
  line-height: 18px;
}
