@keyframes fadeInOut {
  0%, 100% {
    opacity: 0;
  }
  11.76%, 88.24% { /* 2s to 17s of the total 17s duration is visible (15s visible duration) */
    opacity: 1;
  }
}

.fade-in-out {
  animation: fadeInOut 17s ease-out forwards;
}
